
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~bootstrap-css-only/css/bootstrap.min.css';
@import '~mdbreact/dist/css/mdb.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pagination .page-item.active .page-link {
  background-color: #2bbbad;
}

.pagination .page-item.active .page-link:hover {
  background-color: #2bbbad;
  opacity: 0.8;
}

.mainTable-box {
  overflow-x: scroll;

  &::-webkit-scrollbar {
      display: none;
  }
}

.sort-down-hover {
  cursor: pointer;
  transition: .2s;

  &:hover {
    transform: translateY(-1px);
  }
}
